@charset "UTF-8";
/* Custom CSS variables */
:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --main-bg-color: #fff;
  --main-text-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --dark-bg-color: #2f303a;
  --icons-text-color: #afb1b8;
  --base-size: 16px;
  --soft-box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --small-circled: 4px;
  --round-box: 50%;
  --soft-grey-bg-gradient: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #6B5F5F 0%, rgba(255, 255, 255, 0) 100%), #c4c4c4;
  --animation-time: 250ms;
}

/* Colors */
/* Viewport vars */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Main styles */
body {
  font-size: var(--base-size);
  font-family: var(--main-font-family);
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: var(--main-text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  margin-top: 20px;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.h-line {
  border-bottom: 1px solid #eee;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  font-weight: 700;
  font-size: var(--base-size);
  line-height: 1.87;
  letter-spacing: .06em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  border-radius: var(--small-circled);
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(49, 106, 230, 0.7);
          box-shadow: 0 0 0 4px rgba(49, 106, 230, 0.7);
}

.button:active {
  outline: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.navigation {
  padding: 16px 0;
}

@media screen and (min-width: 767.98px) {
  .navigation {
    padding: 0;
  }
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav {
  width: 295px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-nav.list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-nav__link {
  position: relative;
}

.menu-nav__link::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.menu-nav__link:hover::after,
.menu-nav__link:focus::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 1;
  background-color: var(--accent-color);
}

.menu-nav__item .link {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  display: block;
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 1;
  border-radius: 2px;
  background-color: var(--accent-color);
  /* transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.phone {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.menu-nav__item > .active {
  color: var(--accent-color);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.social-icons__link:hover .icon, .social-icons__link:focus .icon {
  fill: var(--main-bg-color);
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--accent-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 5px;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-text-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-size: 26px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  line-height: 1.192;
  color: var(--main-text-color);
  margin-right: 90px;
}

.logo__highlight {
  color: var(--accent-color);
}

.section-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.166;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .section-heading {
    font-size: 36px;
  }
}

.filter-btn {
  font-size: var(--base-size);
  font-weight: 500;
  line-height: 1.62;
  color: var(--main-text-color);
  padding: 6px 22px;
  background-color: #F5F4FA;
  border: none;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: var(--small-circled);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
}

.filter-btn:active {
  outline: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.filter-btn:focus {
  outline: none;
}

.filter-btn:hover, .filter-btn:focus {
  background-color: #2196f3;
  color: var(--main-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/icon-checkbox.svg);
  color: var(--main-bg-color);
  background-size: contain;
  background-origin: border-box;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #4484c9;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

/* Link related styles */
.link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 275px;
    padding: 30px 0;
  }
}

.contacts__link {
  font-size: 14px;
  color: var(--secondary-color);
}

.contacts__link .icon {
  fill: var(--secondary-color);
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:not(:last-child) {
  margin-right: 50px;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link:hover .icon, .contacts__link:focus .icon {
  fill: var(--accent-color);
}

.contacts__item {
  display: block;
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contract-link {
  color: var(--accent-color);
}

.contract-link:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#contract {
  margin-left: 14px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  min-width: 320px;
  max-width: 530px;
  max-height: 610px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 30px);
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: var(--main-bg-color);
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: var(--round-box);
  background: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:focus > .modal-icon-close, .modal-button:hover > .modal-icon-close {
  fill: var(--accent-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  -webkit-transform: translate(-1px, 2px);
          transform: translate(-1px, 2px);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  -webkit-transform: translateX(100%, 100%) scale 0.2;
          transform: translateX(100%, 100%) scale 0.2;
}

.modal__button-send {
  display: block;
  margin: 30px auto 0;
  width: 200px;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background: #188CE8;
  cursor: pointer;
}

.modal__button-send:hover, .modal__button-send:focus {
  outline: none;
  -webkit-box-shadow: 0 5px 5px rgba(60, 134, 168, 0.25);
          box-shadow: 0 5px 5px rgba(60, 134, 168, 0.25);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-container {
  margin-top: 14px;
  margin-bottom: 20px;
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form__group {
  position: relative;
}

.form__label {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 10px;
}

.form__input {
  width: 100%;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.4;
  padding: 8px 10px 8px 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .modal__icon {
  fill: var(--accent-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comments {
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  line-height: 1.5;
  padding: 11px 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: var(--secondary-color);
  cursor: pointer;
}

.form__comments:focus {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.mobile-menu-btn .mobile-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 8px 40px 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is open {
  right: 0;
}

.mobile-menu .menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 30px;
}

.mobile-menu .menu-nav__link.active {
  color: var(--accent-color);
}

.mobile-menu .contacts {
  margin-left: 0;
  display: block;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.mobile-menu {
  display: block;
}

@media only screen and (max-width: 768px) {
  .menu-nav {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .menu-nav.toggle {
    left: 0;
  }
  .active::after {
    display: none;
  }
  .mobile-menu.toggle {
    display: block;
  }
  .hamburger {
    display: block;
    width: 25px;
    cursor: pointer;
  }
  .hamburger:hover > .bar {
    background-color: var(--accent-color);
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger.toggle .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.toggle .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.toggle .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  padding: 40px;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.close__icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.menu.toggle {
  display: none;
}

.menu .contacts {
  display: block;
  margin-bottom: 65px;
}

.menu-nav__item {
  font-size: 44px;
  line-height: 1.62;
  font-weight: 500;
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .menu-nav__item {
    margin-bottom: -5px;
  }
}

.contacts__item {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts__item {
    margin-bottom: 0;
  }
}

.menu-nav__link {
  text-decoration: none;
  color: var(--main-text-color);
}

.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-networks li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  padding: 0 10px;
}

.social-networks li:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}

.tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--accent-color);
}

.email {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: top right, center;
  background-repeat: no-repeat;
  background-color: var(--soft-grey-bg-gradient);
}

@media screen and (min-width: 1200px) {
  .banner {
    height: 600px;
  }
}

.hero-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.hero__title {
  display: block;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  color: var(--main-bg-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.features__list {
  margin-bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.features__item {
  width: 100%;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc(50% - 30px);
    max-width: 354px;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(25% - 15px);
    margin: 0;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 25px 0;
  background: #F5F4FA;
  border-radius: var(--small-circled);
}

.works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}

.works__way {
  position: relative;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.works__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.team__item {
  font-weight: 400;
  line-height: 1.187;
  margin-bottom: 16px;
  text-align: center;
  color: var(--secondary-color);
}

.team__card {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .team__card {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 350px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    width: calc((100% - 90px) / 4);
    margin: auto;
  }
}

.team__body {
  background-color: var(--main-bg-color);
  padding: 30px;
}

.person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.customers {
  padding: 95px 0;
}

@media screen and (min-width: 480px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px -30px -15px;
}

.customer__link {
  border: 1px solid #afb1b8;
  width: 100%;
  height: 90px;
  border-radius: var(--small-circled);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover .icon, .customer__link:focus .icon {
  fill: var(--accent-color);
}

.customer__link:hover, .customer__link:focus {
  border-color: var(--accent-color);
}

.customer__item .icon {
  fill: var(--icons-text-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:focus {
  outline-color: var(--accent-color);
}

.customer__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin: 15px;
  margin-bottom: 30px;
  max-width: 226px;
  -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
}

@media screen and (min-width: 768px) {
  .customer__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .customer__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
  }
}

.contacts__logo {
  text-align: center;
  -ms-flex-preferred-size: calc((50% - 45px) / 2);
      flex-basis: calc((50% - 45px) / 2);
}

@media screen and (min-width: 768px) {
  .contacts__logo {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__logo {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.footer {
  font-size: 14px;
  padding: 60px 0;
  background-color: var(--dark-bg-color);
}

.footer .icon {
  fill: var(--main-bg-color);
}

.footer .logo {
  color: var(--main-bg-color);
  margin-right: 0;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__blocks {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__blocks > * {
  margin: 30px 50px 30px;
}

@media screen and (min-width: 480px) {
  .footer__blocks > * {
    margin: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer__blocks > * {
    margin: 0 0 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__blocks > * {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__contacts {
  color: var(--main-bg-color);
}

.footer__contacts .link {
  color: var(--secondary-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts .link:hover, .footer__contacts .link:focus {
  color: var(--accent-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:not(:last-child) {
  padding-bottom: 10px;
}

.subscription {
  -ms-flex-preferred-size: calc(50% - 15px);
      flex-basis: calc(50% - 15px);
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .subscription {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    -ms-flex-preferred-size: calc(50% - 50px);
        flex-basis: calc(50% - 50px);
  }
}

.subscription__text {
  font-size: inherit;
  font-weight: 700;
  line-height: 1.15;
  padding-top: 12px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

@media screen and (min-width: 1200px) {
  .subscription__text {
    text-align: left;
    padding-left: 30px;
  }
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscription__input {
  background-color: transparent;
  margin-bottom: 20px;
  min-width: 280px;
  width: 100%;
  height: 50px;
  color: var(--main-bg-color);
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    margin-bottom: 0;
  }
}

.subscription__input:focus {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  margin-left: 10px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: var(--main-bg-color);
  cursor: pointer;
}

.subscription__button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 4px rgba(49, 106, 230, 0.7);
          box-shadow: 0 0 0 4px rgba(49, 106, 230, 0.7);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button:active {
  outline: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.footer-icon {
  position: relative;
}

.form-button-icon {
  position: absolute;
  top: 50%;
  right: 35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.subscription-form-link {
  width: 200px;
  margin-left: 30px;
  padding: 10px 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.join-social-links {
  -ms-flex-preferred-size: calc((50% - 45px) / 2);
      flex-basis: calc((50% - 45px) / 2);
}

@media screen and (min-width: 768px) {
  .join-social-links {
    margin-top: 0;
  }
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (min-width: 480px) {
  .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.grid a {
  text-decoration: none;
}

.grid__item {
  width: 100%;
  max-width: 450px;
  margin-bottom: 30px;
  border: 1px solid #eee;
}

@media screen and (min-width: 768px) {
  .grid__item {
    width: calc(50% - 30px);
    max-width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .grid__item {
    width: calc((100% - 90px) / 3);
  }
}

.grid__item:hover .card-overlay-text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.business-card {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 65px 25px;
  color: var(--main-bg-color);
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

.card-info {
  padding: 20px 24px;
  overflow: hidden;
  z-index: 1;
}

.card-info__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: .06em;
  color: var(--main-text-color);
  margin-bottom: 5px;
}

.card-info__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: .03em;
  color: var(--secondary-color);
}

.business-card:hover, .business-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: .06em;
  color: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .features, .works, .our-team, .regular-customers {
    padding: 95px 0;
  }
}

.works {
  padding-top: 0;
}

.main-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 95px;
    padding-bottom: 90px;
  }
}

.secondary-nav {
  margin-bottom: 50px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .site-nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-nav .button {
  display: block;
}

.site-nav__item:not(:last-child) {
  margin-right: 10px;
  background-repeat: 4px;
}

.section-heading__portfolio {
  display: none;
}

/* 
.works {
    padding-top: 0;
}

.page-title-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var( --secondary-color);
} */
/* .portfolio-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);
} */
/* .portfolio-example {
    display: flex;
} */
/*# sourceMappingURL=main.css.map */