/* Custom CSS variables */

@import "./utils/variables";

@import "./base/common";
@import "./base/container";

@import "./components/button";
@import "./components/menu";
@import "./components/social-icons";
@import "./components/logo";
@import "./components/title";
@import "./components/filter-btn";
@import "./components/custom-chekbox";
@import "./components/link";
@import "./components/modal";
@import "./components/modal-form";
@import "./components/mixins";

@import "./layouts/hero";
@import "./layouts/features";
@import "./layouts/works";
@import "./layouts/our-team";
@import "./layouts/customers";
@import "./layouts/footer";
@import "./layouts/grid";
@import "./layouts/business-card";
@import "./layouts/general";










/* 
.works {
    padding-top: 0;
}

.page-title-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var( --secondary-color);
} */

/* .portfolio-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--secondary-color);
} */

/* .portfolio-example {
    display: flex;
} */















 