.filter-btn {
  font-size: var(--base-size);
  font-weight: 500;
  line-height: 1.62;
  color: var(--main-text-color);
  padding: 6px 22px;
  background-color: #F5F4FA;
  border: none;
  cursor: pointer;
  display: inline-flex;
  border-radius: var(--small-circled);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
 
}
.filter-btn:active {
  outline: none;
  transform: translateY(2px);
}
.filter-btn:focus {
  outline: none;
}
.filter-btn:hover, .filter-btn:focus {
  background-color: #2196f3;
  color: var(--main-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}