
.logo {
  font-size: 26px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  line-height: 1.192;
  color: var(--main-text-color);
  margin-right: 90px;
}

.logo__highlight {
  color: var(--accent-color);
}
