
.main-navigation {
  display: flex;
  align-items: center;
}

.menu-nav {
  width: 295px;
  display: inline-flex;
  justify-content: space-between;

  @media screen and (max-width: 767.98px){
    display: none;;
  }
}


.menu-nav__link {
  position: relative;
}
.menu-nav__link::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}
.menu-nav__link:hover::after,  
.menu-nav__link:focus::after{
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 1;
  background-color: var(--accent-color);
}
.menu-nav__item .link {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  display: block;
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: '';
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 1;
  border-radius: 2px;
  background-color: var(--accent-color);
  /* transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.phone {
  transform: translateY(2px);
}

.menu-nav__item > .active {
  color: var(--accent-color);
}
