@mixin smooth-transition() {
  transition: $animation-time cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin modal-frame($position, $top, $left, $w, $h) {
  position: $position;
  top: $top;
  left: $left;
  width: $w;
  height: $h;
  transition: opacity $animation-time cubic-bezier(0.4, 0, 0.2, 1);
}