.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100wh;
  background-color: #fff;
  z-index: 1;
  padding: 40px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-networks {
  display: flex;
  li {
      a {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: #2196F3;
        
    }
  }
}

// .menu-bottom {
//   position: absolute;
//   margin-bottom: 0;
// }