html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  // outline: 2px solid red;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Main styles */

body {
  font-size: var(--base-size);
  font-family: var(--main-font-family);
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: var(--main-text-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  margin-top: 20px;
}

address {
  font-style: normal;
}



.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.h-line {
  border-bottom: 1px solid #eee;
}

.banner {
  width: 100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: top right, center;
  background-repeat: no-repeat;
  background-color: var(--soft-grey-bg-gradient);
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}
