.features__item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}



.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: var( --main-text-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.features__block {
  padding: 25px 100px;
  background: #F5F4FA;
  border-radius: var(--small-circled);
}
