.business-card {
  @include smooth-transition;
  // max-height: 404px;
 
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-text {
  @include modal-frame(absolute, 50%, 50% , 100%, 100%);
  padding: 65px 25px;
  color: var(--main-bg-color);
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  @include smooth-transition;
  z-index: 0;
}

// .card-overlay-text {
//   position: absolute;
//   padding: 65px 25px;
//   color: var(--main-bg-color);
//   font-size: 18px;
//   line-height: 1.55;
//   top: 0;
//   left: 0;
//   background-color: rgba(33, 150, 243, 0.9);
//   width: 100%;
//   height: 100%;
//   transform: translateY(100%);
//   transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
//   z-index: 0;
// }

.card-info {
  padding: 20px 24px;
  overflow: hidden;
  z-index: 1;
}

.card-info__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: .06em;
  color: var(--main-text-color);
  margin-bottom: 5px;
}

.card-info__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: .03em;
  color: var(--secondary-color);
}

.business-card:hover, .business-card:focus {
  box-shadow: $dark-box-shadow;
}

.portfolio {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: .06em;
  color: var(--main-text-color);
}
