.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-text {
  @include modal-frame(absolute, 0, 0 , 100%, 100%);
  padding: 65px 25px;
  color: var(--main-bg-color);
  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  @include smooth-transition;
  z-index: 0;
}

.card-info {
  padding: 20px 24px;
  overflow: hidden;
  z-index: 1;
  line-height: 1.87;
  letter-spacing: .03em;
}

.card-info__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: .06em;
  color: var(--main-text-color);
  margin-bottom: 5px;
}

.card-info__text {
  color: var(--secondary-color);
}
  
