
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__link {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
  border-radius: var(--small-circled);
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .icon, 
.customers__link:focus .icon {
  fill: var(--accent-color);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
}
.customers__list .icon {
  fill: var(--icons-text-color);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:focus {
  outline-color: var(--accent-color); 
}

.customers__list {
  display: inline-block;
  width: 100%;

  @media screen and (min-width: 480px) {
   width:calc(50% - 60px / 2);
   margin-bottom: 30px;
  }
}
.customers__list {
  @media screen and (min-width: 768px) {
    width: calc(50% - 90px / 3);
   margin-bottom: 30px;
  }

  .customers__list {
    @media screen and (min-width: 1200px) {
      width: calc(100% - 180px / 6);
    //  margin-bottom: 30px;
    }
  }
}