
.customers {
  padding: 95px 0;

  @media screen and(min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.customer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -15px -30px -15px;
}

.customer__link {
  border: 1px solid #afb1b8;
  width: 100%;
  height: 90px;
  border-radius: var(--small-circled);
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);

}

.customer__link:hover .icon, .customer__link:focus .icon {
  fill: var(--accent-color);
}
.customer__link:hover, .customer__link:focus {
  border-color: var(--accent-color);
}
.customer__item .icon {
  fill: var(--icons-text-color);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:focus {
  outline-color: var(--accent-color); 
}

.customer__item {
   display: inline-flex;
   flex-basis: 30%;
   margin: 15px;
   margin-bottom: 30px;
   max-width: 226px;
   flex-basis: calc(50% - 30px);
   
   @media screen and (min-width: $medium-screen) {
     flex-basis: calc(100% / 3 - 30px);
   }

   @media screen and (min-width: $large-screen) {
    flex-basis:  calc(100% / 6 - 30px);
  }
}

