
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers__link {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
  border-radius: var(--small-circled);
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover .icon, 
.customers__link:focus .icon {
  fill: var(--accent-color);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
}
.customers__list .icon {
  fill: var(--icons-text-color);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:focus {
  outline-color: var(--accent-color); 
}
