.features__list {
  margin-bottom: -30px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width:768px) {
    flex-wrap: wrap;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (min-width:768px) {
    min-width: 354px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.features__block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  background: #F5F4FA;
  border-radius: var(--small-circled);
}

.icon-c {
  
}
