

// .features__item {
//   width: calc((100% - 30 * 4) / 4);
//   margin-right: 30px;
//   margin-bottom: 30px;

//   @media screen and (max-width: 767.98px) {
//     width: calc((50% - 60px) / 2);
//   }
// }

// @media screen and (min-width: 480px) {
//   .features__item
//   max-width: 450px;
// }

.features__item {
  max-width: 270px;
}

 .features__item:not(:last-child) {
  margin-right: 30px; 
 }

  //  @media screen and (min-width: 480px) {
  //    flex-basis: calc(100% - 30px);
  //  }

   
  // }
  // @media screen and (min-width: 768px) {
  //  .features__item {
  //     width: calc((50% - 60px / 2));
  //  }
  //  }

  //  @media screen and (min-width: 480px) {
  //  .features__item {
  //  max-width: 450px;
  // }


   
    //  &:first-child {
    //    margin: 15px;
    //  }
  
    //  &:last-child {
    //    margin: 15px;
    //  }

  //     @media screen and (min-width: 1200px) {
  //       flex-basis: calc((100% - 30px * 4) / 4);
  //       }
  //  }
  //  @media screen and (min-width: 992px) {
  //    flex-basis: calc(25% - 30px);
  //    &:first-child {
  //      margin: 15px;
  //    }
  
  //    &:last-child {
  //      margin: 15px;
  //    }
    

  //  @media screen and (max-width: 1200px) {
  //   flex-basis: calc(100% - 120px / 4);

  //    &:first-child {
  //      margin-left: 0;
  //    }
  
  //    &:last-child {
  //     margin-right: 0;
  //    }
  //  }

// }

// @media screen and (min-width: 768px) {
//   flex-basis: calc((50% - 60px) / 2);
//   .features__item {
//     max-width: 354px;
//   }
// }


.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: var( --main-text-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.features__block {
  // flex-basis: calc(100% - 90px / 4);
  padding: 25px 100px;
  background: #F5F4FA;
  border-radius: var(--small-circled);
}
