
.contacts__logo {
  text-align: center;
  flex-basis: calc((50% - 45px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: 30%;
  }

  // @media screen and (min-width: 1200px) {
  //   flex-basis: 50%;
  // }
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-bg-color);
}
.footer .icon {
  fill: var(--main-bg-color)
}
.footer .logo {
  color: var(--main-bg-color);
  margin-right: 0;
}

.footer {
  font-size: 14px;
}


.footer__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

}

.footer__blocks > * {
  margin: 0 50px 30px;

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }
  
}

.footer__contacts {
  color: var(--main-bg-color);

  .link {
    color:var(--secondary-color);
    transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link:hover, .link:focus {
    color: var(--accent-color);
    transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  }

}
.footer__contacts:not(:last-child) {
  padding-bottom: 10px;
}

.subscription {
  flex-basis: calc(50% - 15px);
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    flex-basis: 70%;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(50% - 50px);
  }
  
  &__text {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 12px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-bg-color);

    @media screen and (min-width: 1200px) {
      text-align: left;
      padding-left: 30px;
    }

  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &__input {
    background-color: transparent;
    margin-bottom: 20px;
    min-width: 280px;
    width: 100%;
    height: 50px;
    color: var(--main-bg-color);
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px; 
    
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__input:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__button {
    display: inline-flex;
    width: 200px;
    margin-left: 10px;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: var(--main-bg-color);
    cursor: pointer;
  }
  
  &__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(49, 106, 230, 0.7);
    transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__button:active {
    outline: none;
    transform: translateY(2px);
  }
}



.footer-icon {
  position: relative;
}

.form-button-icon {
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
}


.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.subscription-form-link {
  width: 200px;
  margin-left: 30px;
  padding: 10px 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.join-social-links {
  // margin-left: 70px;
  flex-basis: calc((50% - 45px) / 2);
} 
