.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: calc((100% - 90px) / 3);

  @media screen and(min-width:480px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: flex-start;
  }
}


.grid a {
  text-decoration: none;
}

.grid__item {
  width: 100%;
  max-width: 370px;

  @media screen and(min-width:480px) {
    width: calc(50% - 15px);
  }

  @media screen and(min-width: 768px) {
    width: calc(50% - 15px);
    margin: 0 15px;
  }

  @media screen and(min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.grid__item:nth-child(3n) {
  margin-right: 0;
}

.grid__item:hover .card-overlay-text {
  transform: translate(-50%, -50%);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
