.grid {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  width: calc((100% - 90px) / 3);

  // @media screen and (max-width: 767.98px) {
  //   width:calc((50% - 60px / 2));
  // }
}


.grid a {
  text-decoration: none;
}

// .grid__item {
//   display: flex;  
//   flex-wrap: wrap;
//   width: calc((100% - 90px) / 3);

//   @media screen and (max-width: 767.98px) {
//     width:calc((50% - 60px / 2));
//   }
// }

.grid__item:nth-child(3n) {
  margin-right: 0;
}

.grid__item:hover .card-overlay-text {
  transform: translateY(0);
  transition: var(--animation-time) cubic-bezier(0.4, 0, 0.2, 1);
}
