.works {
  display:none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.works__way {
  position: relative;
}

.works__list {
  display: flex;

}

.works__item {

  &:not(:last-child){
    margin-right: 30px;
  } 
}

.works__title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-bg-color);
  }

.works__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

